<div class="container pt-20 h-screen space-y-4 items-center justify-center">
  <h1>Add New Question</h1>
  <form (ngSubmit)="addQuestion(question,category,difficulty,option1,option2,option3,option4,correctOption)">
    <div class="form-group">
      <label>Question</label>
      <input type="text" class="form-control" name="question"  [(ngModel)]="question">
    </div>

    <div class="form-group">
      <label>Category</label>
      <select class="form-control" name="category"  [(ngModel)]="category">
        <option value="">Select Category</option>
        <option value="history">History</option>
        <option value="geography">Geography</option>
        <option value="science">Science</option>
      </select>
    </div>

    <div class="form-group">
      <label>Difficulty</label>
      <select class="form-control" name="difficulty"  [(ngModel)]="difficulty">
        <option value="">Select Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>

    <div class="form-group">
      <label>Option 1</label>
      <input type="text" class="form-control" name="option1"  [(ngModel)]="option1">
    </div>

    <div class="form-group">
      <label>Option 2</label>
      <input type="text" class="form-control" name="option2"  [(ngModel)]="option2">
    </div>

    <div class="form-group">
      <label>Option 3</label>
      <input type="text" class="form-control" name="option3"  [(ngModel)]="option3">
    </div>

    <div class="form-group">
      <label>Option 4</label>
      <input type="text" class="form-control" name="option4"  [(ngModel)]="option4">
    </div>

    <div class="form-group">
      <label>Correct Option</label>
      <select class="form-control" name="correctOption"  [(ngModel)]="correctOption">
        <option value="">Select Correct Option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Add Question</button>
    <div class="alert" *ngIf="message" style="color: rgb(5, 214, 22); font-weight: bold;">{{message}}</div>
  </form>
</div>
